@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.todo-wrap {
  .bg-primary {
    cursor: pointer;
  }
  .error {
    color: red;
    font-size: 12px;
  }
}

.blogCard {
  margin-bottom: 30px;
}
